@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

html {
  font-family: "Rubik", sans-serif;

  box-sizing: border-box;

  --color-background: hsl(226, 43%, 10%);
  --color-header-card-accent: hsl(246, 80%, 60%);
  --color-header-card-neutral: hsl(235, 46%, 20%);
  --color-book-card-neutral: hsl(235, 46%, 20%);
  --color-book-card-accent-fiction: hsl(348, 100%, 68%);
  --color-book-card-accent-fiction-alt: hsl(348, 100%, 90%);
  --color-book-card-accent-nonfiction: hsl(195, 74%, 62%);
  --color-book-card-accent-nonfiction-alt: hsl(195, 74%, 84%);
  --color-book-card-accent-textbook: hsl(145, 58%, 55%);
  --color-book-card-accent-textbook-alt: hsl(145, 58%, 87%);
  --color-book-card-accent-other: hsl(43, 84%, 65%);
  --color-book-card-accent-other-alt: hsl(43, 84%, 87%);
  --color-text-primary: hsl(0, 0%, 100%);
  --color-text-secondary: hsl(235, 45%, 61%);
  --color-text-tertiary: hsl(236, 100%, 87%);

  --border-radius-card: 0.7rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);

  font-size: 18px;
}

.container-main {
  max-width: 72rem;
  margin-inline: auto;
  margin-block: 2rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

/* -- Utilities -- */
h1,
h2,
p,
label {
  margin: 0;
  padding-block: 0.1rem;
}

h1 {
  font-size: 1.5em;
  font-weight: 300;
}

p,
label {
  font-size: 0.8em;
  font-weight: 300;
}

button {
  border: none;
  margin: 0;
  padding: 0;

  background-color: var(--color-background);
  color: var(--color-header-card-accent);
  border: 0.1rem solid var(--color-header-card-accent);
}

button:hover,
button:active,
.read {
  background-color: var(--color-header-card-accent);
  color: var(--color-background);
}

.filter,
.new-book-type,
.new-book-status {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filter input,
.new-book-type input,
.new-book-status input {
  display: none;
}

.hidden {
  display: none !important;
}

/* -- Header card -- */
.header-card {
  background-color: var(--color-header-card-neutral);
  border-radius: var(--border-radius-card);
}

.header-card-top {
  background-color: var(--color-header-card-accent);
  border-radius: var(--border-radius-card);

  display: flex;
  align-items: center;
  gap: 1.4rem;

  padding-inline: 1.5rem;
  padding-block: 2rem;
}

.header-card-top p {
  color: var(--color-text-tertiary);
}

.logo img {
  margin-top: 0.2rem;
  width: 4.5rem;
}

/* Filter selector */
.filter {
  font-size: 1.4em;
  padding-block: 0.8em;
  color: var(--color-text-secondary);
}

.filter input:checked + label {
  color: var(--color-text-primary);
  font-weight: 400;
}

/* -- Books Container -- */
.books-container {
  display: grid;
  gap: 1.5rem;
}

/* -- Book Cards -- */
.book-card {
  padding-top: 2rem;
  border-radius: var(--border-radius-card);
}

.book-card-bottom {
  background-color: var(--color-book-card-neutral);
  border-radius: var(--border-radius-card);
  height: 100%;
}

.book-card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.book-card-content div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-card h2 {
  font-weight: 300;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

.book-card h3 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 1em;
}

.book-card p {
  font-size: 0.7em;
}

.pages p {
  margin-top: auto;
  margin-bottom: 0.15em;
  margin-inline: 0.5em;
}

.pages {
  margin-top: auto;
  color: var(--color-text-tertiary);
}

.status p {
  margin-inline: 0.5rem;
  color: var(--color-text-tertiary);
  margin-top: auto;
}

.status button {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 2em;
  color: var(--color-background);
}

.book-card > button {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 1.4em;
  margin-inline: 0.8rem;
  top: 0;
  right: 0;
}

.fiction {
  background-color: var(--color-book-card-accent-fiction);
  position: relative;
}

.fiction > button {
  color: var(--color-book-card-accent-fiction-alt);
}

.nonfiction {
  background-color: var(--color-book-card-accent-nonfiction);
  position: relative;
}

.nonfiction > button {
  color: var(--color-book-card-accent-nonfiction-alt);
}

.textbook {
  background-color: var(--color-book-card-accent-textbook);
  position: relative;
}

.textbook > button {
  color: var(--color-book-card-accent-textbook-alt);
}

.other {
  background-color: var(--color-book-card-accent-other);
  position: relative;
}

.other > button {
  color: var(--color-book-card-accent-other-alt);
}

/* -- New book button -- */
.btn-new-book {
  position: fixed;

  bottom: 0;
  right: 0;
  margin: 1.3rem 0.6rem;

  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-new-book span {
  font-size: 2.5em;
  padding-bottom: 0.15em;
}

/* -- New book input -- */
.container-new-book-form {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  height: 100vh;
  width: min(40rem, 100vw);
}

.new-book-form {
  color: var(--color-text-tertiary);
  border-radius: var(--border-radius-card);

  margin: 2rem 1.3rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.new-book-form h1 {
  font-size: 3em;
  text-align: center;
  margin: 1rem;
}

.new-book-form > input {
  display: block;
  margin-block: 0.3em;
}

.center {
  margin-inline: auto;
  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
}

.new-book-type,
.new-book-status {
  color: var(--color-text-secondary);
  padding-bottom: 0.9rem;
}

.new-book-type input:checked + label,
.new-book-status input:checked + label {
  color: var(--color-text-primary);
  font-weight: 400;
}

.new-book-buttons button {
  margin-block: 1rem;
  margin-inline: 1rem;
  padding: 0.5em 0.8em;

  font-weight: 600;
  font-size: 0.9rem;
}

/* -- Media queries -- */
@media (min-width: 700px) {
  .books-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .books-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
